.grupo{
  display: flex;
  justify-content: center;
}

.campo {
  margin-bottom: 1em;
  margin-left: 20px;
  margin-right: 20px;
  color: #299c46;
  font-size: large;  
}

.campo label{
  display: flex;
  justify-content: center;


}
.campo input{
  padding: 0.2em;
  border: 1px solid #ecc133;  
  block-size: 16pt;
  width: 200px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  display: block;
}

#cadastrar{
  margin-top: 50px;
}

p{
  font-family: 'Gill Sans', sans-serif;
  font-size: 18pt;
  border: 3px solid #ecc133;
  background-color: black;
  color: aliceblue;
  border-radius: 10px;
  padding: 7px;
}
