<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../static/favicon32.ico" type="image/x-icon">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="../static/pages/doar.css">  
  <title>Alimento Solidário</title>
</head>
<body>
  {% include 'header.html' %}

  <div class="bloco">
    <h2>Preencha os campos abaixo para doar um alimento para quem mais precisa!</h2>
  </div>
  
  {% if cadastrar %}
  
  <div class="bloco">
    <p>Doação Cadastrada Com Sucesso!</p>
      <br>      
  </div>

  {% else %}

  <form action="{{url_for('app.doar')}}" method="POST">

    <div class="grupo">
      <div class="campo">
          <label for="alimento.nome"><strong>Seu Nome</strong></label>
          <input type="text" name="nome" id="nome" required>
      </div>
      
      <div class="campo">
          <label for="alimento.cidade"><strong>Sua Cidade</strong></label>          
          <input type="text" name="cidade" id="cidade" required>
      </div>

      <div class="campo">
        <label for="alimento.telefone"><strong>Seu Telefone</strong></label>
        <input type="text" name="telefone" id="tel" pattern="\(\d{2}\)\s*\d{4}-\d{4}" required>
    </div>        
    
      <div class="campo">
        <label for="alimento.alimento"><strong>Alimento que vai doar</strong></label>
        <input type="text" name="alimento" id="alimento" required>
      </div>

      <div class="campo">
        <label for="alimento.estado"><strong>Seu Estado</strong></label>
        <select name="estado" id="estado">
          <option value="Acre – AC">Acre – AC</option>
          <option value="Alagoas – AL">Alagoas – AL</option>
          <option value="Amapá – AP">Amapá – AP</option>
          <option value="Amazonas - AM">Amazonas - AM</option>
          <option value="Bahia - BA">Bahia - BA</option>
          <option value="Ceará - CE">Ceará - CE</option>
          <option value="Distrito Federal - DF">Distrito Federal - DF</option>
          <option value="Espírito Santo - ES">Espírito Santo - ES</option>
          <option value="Goiás - GO">Goiás - GO</option>
          <option value="Maranhão - MA">Maranhão - MA</option>
          <option value="Mato Grosso - MT">Mato Grosso - MT</option>
          <option value="Mato Grosso do Sul - MS">Mato Grosso do Sul - MS</option>
          <option value="Minas Gerais - MG">Minas Gerais - MG</option>
          <option value="Pará – PA">Pará – PA</option>
          <option value="Paraíba – PB">Paraíba – PB</option>
          <option value="Paraná - PR">Paraná - PR</option>
          <option value="Pernambuco - PE">Pernambuco - PE</option>
          <option value="Piauí - PI">Piauí - PI</option>
          <option value="Roraima - RR">Roraima - RR</option>
          <option value="Rondônia - RO">Rondônia - RO</option>
          <option value="Rio de Janeiro - RJ">Rio de Janeiro - RJ</option>
          <option value="Rio Grande do Norte - RN">Rio Grande do Norte - RN</option>
          <option value="Rio Grande do Sul - RS">Rio Grande do Sul - RS</option>
          <option value="Santa Catarina - SC">Santa Catarina - SC</option>
          <option value="São Paulo - SP">São Paulo - SP</option>
          <option value="Sergipe - SE">Sergipe - SE</option>
          <option value="Tocantins - TO">Tocantins - TO</option>
        </select>
        <!-- <input type="text" name="estado" id="estado" required> -->
      </div>        
    </div>
    
    <div class="bloco">
      <button id="cadastrar" type="submit" onsubmit="" class="botao"><strong>Cadastrar Doação</strong></button>
    </div>
  </form>  
  {% endif %}
  {% include 'footer.html' %}
  <script src="../static/pages/doar.js"></script>
</body>
</html>