<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../static/favicon32.ico" type="image/x-icon">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="../static/pages/editar.css">
  <title>Alimento Solidário</title>
</head>
<body>
  {% include 'header.html' %}

  <div class="bloco">
    <h2>Editar informações da doação</h2>
  </div>

  {% if sucesso %}
  <div class="bloco sucesso">
    <p>Registro editado com sucesso</p>
  </div>
  {% endif %}

  <form action="" method="POST">
    <div class="bloco">        
      <div class="campo">
          <label for="aimento.nome"><strong>Seu Nome: </strong></label>
          <input type="text" name="nome" id="nome" value="{{alimento.nome}}">
      </div>        
      <div class="campo">
        <label for="alimento.cidade"><strong>Sua Cidade: </strong></label>
        <input type="text" name="cidade" id="cidade" value="{{alimento.cidade}}">
      </div>
      <div class ="campo">
        <label for="alimento.telefone"><strong>Seu Telefone: </strong></label>
        <input type="text" name="telefone" id="tel" pattern="\(\d{2}\)\s*\d{4}-\d{4}" value="{{alimento.telefone}}">
      </div>      
      <div class="campo">
        <label for="alimento.alimento"><strong>Alimento doado: </strong></label>
        <input type="text" name="alimento" id="alimento" value="{{alimento.alimento}}">
      </div>
      <div class="campo">
        <label for="alimento.estado"><strong>Seu Estado: </strong></label>
        <select name="estado" id="estado">
          <option value="Acre – AC">Acre – AC</option>
          <option value="Alagoas – AL">Alagoas – AL</option>
          <option value="Amapá – AP">Amapá – AP</option>
          <option value="Amazonas - AM">Amazonas - AM</option>
          <option value="Bahia - BA">Bahia - BA</option>
          <option value="Ceará - CE">Ceará - CE</option>
          <option value="Distrito Federal - DF">Distrito Federal - DF</option>
          <option value="Espírito Santo - ES">Espírito Santo - ES</option>
          <option value="Goiás - GO">Goiás - GO</option>
          <option value="Maranhão - MA">Maranhão - MA</option>
          <option value="Mato Grosso - MT">Mato Grosso - MT</option>
          <option value="Mato Grosso do Sul - MS">Mato Grosso do Sul - MS</option>
          <option value="Minas Gerais - MG">Minas Gerais - MG</option>
          <option value="Pará – PA">Pará – PA</option>
          <option value="Paraíba – PB">Paraíba – PB</option>
          <option value="Paraná - PR">Paraná - PR</option>
          <option value="Pernambuco - PE">Pernambuco - PE</option>
          <option value="Piauí - PI">Piauí - PI</option>
          <option value="Roraima - RR">Roraima - RR</option>
          <option value="Rondônia - RO">Rondônia - RO</option>
          <option value="Rio de Janeiro - RJ">Rio de Janeiro - RJ</option>
          <option value="Rio Grande do Norte - RN">Rio Grande do Norte - RN</option>
          <option value="Rio Grande do Sul - RS">Rio Grande do Sul - RS</option>
          <option value="Santa Catarina - SC">Santa Catarina - SC</option>
          <option value="São Paulo - SP">São Paulo - SP</option>
          <option value="Sergipe - SE">Sergipe - SE</option>
          <option value="Tocantins - TO">Tocantins - TO</option>
        </select>
        <!-- <input type="text" name="estado" id="estado" value="{{alimento.estado}}"> -->
      </div>        
    </div>    
    <div class="bloco">
      <button id="atualizar" type="submit" onsubmit="" class="botao"><strong>Atualizar Doação</strong></button>
    </div>
  </form> 
  <!-- {% include 'footer.html' %}  -->
  <script src="../static/pages/editar.js"></script>
</body>
</html>