<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../static/favicon32.ico" type="image/x-icon">
  <link rel="stylesheet" href="../static/style.css">
  <title>Alimento Solidário</title>
</head>
<body>
  {% include 'header.html' %}

  <h2>Nestes tempos difíceis, talvez bem perto de você, muitas pessoas estão precisando da sua ajuda e generosidade.
  <br>Clique no botão DOAR e faça sua contribuição.</h2>
  <br>
  <h2>Mas se você for uma dessas pessoas que também está passando por dificuldades,<br> clique no botão DOAÇÕES e procure por um alimento perto de você.</h2>
  
  <!-- {% include 'footer.html' %} -->
</body>
</html>